.header{
  margin-top: 1.6rem;
  position: sticky;
  top: 1.6rem;
  width: 100%;
  .content-header{
    @include flexCenterJustify;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(3.5px);
    padding: 0.8rem 1.9rem 0.8rem 2.3rem;
    .btns-header{
      @include flexCenter;
      gap: 1.6rem;
      a{
        @include flexCenter;
        gap: 0.8rem;
        span{
          color: $gray-200;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 150%;
          transition: all .3s ease;
          &:hover{
            color: $purple-10;
          }
        }
      }
    }
  }
}
