.hero{
  padding-top: 8rem;
  .content-hero{
    @include flexCenterJustify;
    .left{
      width: 100%;
      max-width: 60rem;
      h1{
        font-size: 5.6rem;
        letter-spacing: -1.68px;
        margin-bottom: 1.6rem;
        span{
          color: $purple-10;
          display: inline-block;
          text-decoration: underline;
          font-family: 'Space Grotesk', sans-serif;
        }
      }
      p{
        color: $gray-200;
        font-size: 2.2rem;
        line-height: 150%;
        max-width: 49.1rem;
        margin-bottom: 3.2rem;
      }
      .form-email{
        margin-bottom: 4.8rem;
      }
      .companies{
        width: 100%;
        max-width: 33.9rem;
        margin-bottom: 4.8rem;
        @include flexCenterJustify;
      }
    }
    .main-mobile{
      display: none;
    }
  }
  @include responsive('laptop'){
    .content-hero{
      .left{
        h1{
          font-size: 5rem;
        }
      }
      & > img{
        max-width: 48.2rem;
      }
    }
  }
  @include responsive('tablet'){
    .content-hero{
      flex-direction: column;
      text-align: center;
      gap: 5rem;
      .left{
        max-width: 100%;
        p{
          margin: 0 auto;
          margin-bottom: 3.2rem;
        }
        .form-email{
          margin: 0 auto;
          margin-bottom: 4.8rem;
        }
      }
      & > img{
        max-width: 100%;
      }
    }
  }
  @include responsive('mobile'){
    padding-top: 7.2rem;
    .content-hero{
      gap: 7.2rem;
      .left{
        h1{
          font-size: 4rem;
          letter-spacing: -1.2px;
          max-width: 31.1rem;
          margin: 0 auto;
          margin-bottom: 1.6rem;
        }
        p{
          font-size: 1.6rem;
          max-width: 32rem;
        }
        .companies{
          margin-bottom: 4rem;
        }
      } 
      .main{
        display: none;
      }
      .main-mobile{
        display: block;
      }
    }
  }
}
.resources{
  padding-top: 11.2rem;
  .resources-title{
    @include flexCenterJustify;
    margin-bottom: 8rem;
    h3{
      letter-spacing: -1.2px;
      max-width: 66.1rem;
    }
    p{
      color: $gray-200;
      font-size: 1.6rem;
      line-height: 150%;
    }
  }
  .cards{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10.3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);    ;
  }

  @include responsive('laptop'){
    padding-top: 8rem;
    .cards{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      padding-bottom: 8rem;
      .card-resource{
        max-width: 100%;
        text-align: center;
        .icon{
          margin: 0 auto;
          margin-bottom: 1.6rem;
        }
      }
    }
  }
  @include responsive('tablet'){
    .resources-title{
      flex-direction: column;
      gap: 3rem;
      margin-bottom: 5rem;
      h3{
        text-align: center;
      }
    }
  }
  @include responsive('mobile'){
    padding-top: 7rem;
    .resources-title{
      gap: 1.6rem;
      margin-bottom: 5.6rem;
      h3{
        font-size: 2.8rem;
        letter-spacing: -0.84px;
      }
    }
    .cards{
      grid-template-columns: 1fr;
      gap: 6.4rem;
      padding-bottom: 7rem;
      .card-resource{
        .text-card{
          h6{
            margin-bottom: 0.8rem;
          }
        }
      }
    }
  }
}
.email-marketing{
  padding: 9.5rem 0;
  .box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/bg-box.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 8.1rem 0;
    border-radius: 10px;
    h1{
      margin-bottom: 0.8rem;
      letter-spacing: -1.68px;
      max-width: 78.6rem;
    }
    p{
      color: $gray-200;
      font-size: 2rem;
      max-width: 50.1rem;
      font-weight: 400;
      margin-bottom: 3.2rem;
      line-height: 150%;
    }
  }
}